* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content {
    border: 1px solid  ;
    width: 400px;
}
.form-group {
    display: flex;
    flex-flow: row wrap;
    margin-top: 0.8rem;
    justify-content: flex-end;
}
.title {
    background-color:lightgray;
    text-align: center;
    padding: 10px;
}
body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-top: 200px;
    padding-left: 600px;
    background-image: url('../Images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}
form {
    background-color: cornsilk;
    padding: 10px 15px 15px 15px;
}