* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 100px;
    background-image: url('../Images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.content {
    border: 1px solid red;
    width: 450px;
}

.title {
    background-color: lightsalmon;
    text-align: center;
    padding: 5px 0;
}

form {
    background-color: cornsilk;
    padding: 10px 15px 15px 15px;
}

.form-group {
    display: flex;
    flex-flow: row wrap;
    margin-top: 0.8rem;
}

label {
    width: 30%;
    color: black;
}

input {
    width: 55%;
    padding: 0.1rem;
}

.error-message {
    width: 70%;
    color: red;
    margin-left: 125px;
}

.readonly-input {
    background-color: lightgray;
    color: red;
}

input[type=submit] {
    margin-top: 0.8rem;
    background-color: blue;
    color: white;
    width: 10vh;
    margin-left: 30%;
}

.unit {
    color: darkorange;
}
